@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');


/* Header */
body{
    padding:20px;
}
a{
    text-decoration: none;
}

input{
    border-radius: 8px !important;
}

.header{
    background-color: #9584d5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2rem;
    border-radius: 15px 50px 15px;
    margin-bottom: 2rem;
    height: 5rem;
}
.titel{
    display:inline-block;
    font-size: 2rem;
    color:white;
}
.nav-buttons{
    display:inline-block;
}
.login{
    display:flex;
}

.form{
    display: flex;
    align-items: flex-start;
}
.form.login{
    margin-right: 5px;
}

.btn{
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    padding: 10px 30px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 500ms;
    transform: translateY(0);
    align-items: center;
    cursor: pointer;
}
.btn.login{
    background-color: #00971a;
    border: 2px solid #00971a;
}
.btn.login:hover{
    color: #00971a;
    border: 2px solid #00971a;
}
.btn.logout{
    background-color: #007ffd;
    border: 2px solid #007ffd;
}
.btn.logout:hover{
    color: #007ffd;
    border: 2px solid #007ffd;
}
.btn.save{
    background-color: #007ffd;
    border: 2px solid #007ffd;
}
.btn.save:hover{
    color: #007ffd;
    border: 2px solid #007ffd;
}
.btn.delete{
    background-color: #c30000;
    border: 2px solid #c30000;
}
.btn.delete:hover{
    color: #c30000;
    border: 2px solid #c30000;
}
.btn.create{
    background-color: #9584d5;
    border: 2px solid #9584d5;
}
.btn.create:hover{
    color: #9584d5;
    border: 2px solid #9584d5;
}
.btn.signup{
    background-color: #007ffd;
    border: 2px solid #007ffd;
}
.btn.signup:hover{
    color: #007ffd;
    border: 2px solid #007ffd;
}
    
.btn:hover{

transition : 500ms;
padding: 10px 35px;
transform : translateY(-0px);
background-color: #fff;
}

.form-floating>label {
    padding: 0.5rem 0.75rem;
}
.form-floating>.form-control{
    padding: 1rem 0.75rem;
    height: calc(2.5rem + 2px);
}

.mb-3{
    margin-right: 10px;
}

.form-control:focus {
    border-color: #28a74600;
    box-shadow: 0 0 0 0.2rem rgb(0 151 26 / 12%);
}
.row>* {
    padding-right: calc(var(--bs-gutter-x) * .2);
    padding-left: calc(var(--bs-gutter-x) * .2);
}

a.links {
    background: linear-gradient(to right,#196BCA ,#6433e0);
    background-color: #196BCA;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    width: 10rem;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0px 0px 4px 0px rgba(99.99999999999994,50.999999999999986,224,0.5);
}
a.links:hover{
    background: linear-gradient(to right,#5482d0 ,#7d5ee3);
}
a.links.active{
    background: linear-gradient(to right,#00971a ,#00971a38);
    color: #d5d5d5;
    pointer-events: none;
}


/* Signup page */
.container.signup{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.signupForm{
    width: 25rem;
    margin: 0 auto;
    padding-top: 100px;
}


/* Budgets page */
.table_box{
    overflow-x: auto;
    border-radius: 35px;
}
.table_box::-webkit-scrollbar{
    display: none;
}
.budget_information{
    text-align: center;
}
a.create_budget {
    background: linear-gradient(to bottom,#1cc100 ,#089700);
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 12px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 10px 11px;
    border: 0px solid #000;
    width: 6rem;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 15px;
    box-shadow: 0px 0px 4px 0px rgba(99.99999999999994,50.999999999999986,224,0.5);
}
a.create_budget:hover{
    background: linear-gradient(to bottom,#089700 ,#1cc100);
}
.budget_title{
    text-align: center;
    font-size: 3rem;
}
.bi-heart-fill{
    color:white;
}
.bi-heart{
    color:white;
}
.bi-gear-fill{
    cursor: pointer;
}
.gear_setting{
    display: flex; 
    align-items: center; 
    margin-right:20px;
}
.popup-menu {
    display: none;
    position: absolute;
    top: 15rem;
    right: 30rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1000; /* Ensure the menu appears on top of other elements */
    border-radius: 10px;
    box-shadow: 5px 5px 6px #9584d5;
}
.popup-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
    border-radius: 10px;
}
.popup-menu a:hover {
    background-color: #9584d569;
    color: black;
    border-radius: 10px;
}

/* Update budget page */
.bi-question-circle{
    font-size: 12px;
    font-style: normal;
}
.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #ededed;
    color: #000000;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 21rem; /* Position the tooltip above the text */
    left: 24rem;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 5px 5px 6px #9584d5;
}
.bi-question-circle:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* profile page */
.profil_information{
    display: flex;
}
.budgets{
    text-align: center;
    height: 7rem;
    padding: 1rem;
    border-radius: 15px 50px 30px;
    background: linear-gradient(to right,#5482d0 ,#7d5ee3);
}
.budget_name{
    font-size: 25px;
}
.progress-bar-striped{
    background-color: #6234df!important
}
.shared_text{
    text-align: left;
    padding: 1.5rem 1rem 1rem 2rem;
    font-size: 12px;
}
.budget_link{
    width:100%;
    color: #fffffff7;
    text-decoration: none;
}
.budget_link:hover{
    color: #fffffff7;
    text-decoration: none;
}
.budgets_column{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form-floating{
    margin-bottom: 10px;
    display: inline-block;
}

/* Fixed month budget page */
.fixed_item{
    display:flex;
    flex-direction: column;
}
.fixed_item_groups{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #9584d5;
    width: 30rem;
    border-radius: 10px;
}
.modal-content button{
    width: 5rem;
    margin: 5px;
}
.close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -30px;
    margin-left: -15px;
}
.close:hover,
.close:focus {
    color: black;
}